<%- include('partials/header') %>

<h2 class="mb-4">Secrets</h2>
<ul class="list-group">
    <% secrets.forEach(function(secret) { %>
        <li class="list-group-item"><%= secret.content %></li>
    <% }); %>
</ul>

<%- include('partials/footer') %>
